<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/edu.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/slide.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>welcome</title>
   
</head>
<body>


    
    <section class="home" id="home">
        <div class="home-text">
            <h6>Best online learning platform</h6>
            <h1>Accessible Online course for all </h1>
            <p>Own your future learning new  skills  online </p>
            <div class="latter">
                <form >
                    <input type="email" placeholder="write your email" required>
                    <input type="submit" value="lets start" required>
                </form>
            </div>
        </div>
        <div class="home-image">
            <!-- <img src="4445855.png" > -->   
            
            <!-- <div class="slider-frame">
                <div class="slide-images">
                    <div class="img-container"> -->
                        <!-- <div class="one"></div> --><img src="/images/IMG-20240316-WA0039.jpg">
                    <!-- </div>
                </div>
            </div> -->

        </div>

    </section>  
    <section class="container">
        <div class="container-box">
            <div class="container-image">
                <img src="/images/pngwing.com.png" >
            </div>
            <div class="container-text">
                <h4>5k</h4>
                <p>online course</p>
            </div>
        </div>
        <div class="container-box">
            <div class="container-image">
                <img src="/images/pngwing.com.png" >
            </div>
            <div class="container-text">
                <h4>5k</h4>
                <p>online course</p>
            </div>
        </div>
        <div class="container-box">
            <div class="container-image">
                <img src="/images/pngwing.com.png" >
            </div>
            <div class="container-text">
                <h4>5k</h4>
                <p>online course</p>
            </div>
        </div>
        <div class="container-box">
            <div class="container-image">
                <img src="/images/pngwing.com.png" >
            </div>
            <div class="container-text">
                <h4>5k</h4>
                <p>online course</p>
            </div>
        </div> 
    </section> 
<!-- <section class="courses" id="courses">
        <div class="center-text">
            <h5>COURSES</h5>
            <h2>Explore Popular Courses </h2>
        </div>
        <div class="courses-content">
           <div class="container">
              <div class="card">
                <div class="imgBx">
                  <img src="pngwing.com.png">
                </div>
                <div class="contentBx">
                  <h2>Python Course</h2>
                  <div class="size">
                    <h3>lecture :</h3>
                    <span>20+</span>
                  </div>
                  <div class="color">
                    <h3>rating :</h3>
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                  </div>
                  <a href="#">Buy Now</a>
              </div>
            </div>
          </div>
        
        </div>
     

    </section> -->    
    <section class="categories" id="categories">
        <div class="center-text">
            <h5>categories</h5>
            <h2>Popular categories</h2>

        </div>

        <div class="categories-content">
            <div class="box">
                <img src="images/pngwing.com.png">
                <h3>Internet Of Things</h3>
                <p>Course</p>
            </div>
            <div class="box">
                <img src="/images/pngwing.com.png">
                <h3>Internet Of Things</h3>
                <p>Course</p>
            </div>
            <div class="box">
                <img src="/images/pngwing.com.png">
                <h3>Internet Of Things</h3>
                <p>Course</p>
            </div>
            <div class="box">
                <img src="/images/pngwing.com.png">
                <h3>Internet Of Things</h3>
                <p>Course</p>
            </div>  

        </div>
        <div class="main-btn">
            <a href="#" class="btn">All categories</a>
        </div>

        
    </section>
    <section class="about">
        <div class="about-img">
            <img src="/images/3236268.png" >

        </div>
        <div class="about-text">
            <h2>Want to share the knowledge ? Join us a Mentor</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 Porro, ad ab nulla omnis expedita dolorum itaque. Voluptates,
                debitis nam, nemo in sunt eos id reprehenderit tenetur
                 ut alias laboriosam voluptatibus?</p>
            <h4>Best course</h4>
            <h5>Top rated instructor </h5>
            <a href="">Read More</a>
        </div>





    </section>
    <section class="contact" id="contact">
        <div class="main-contact">
            <div class="contact-content">
                <img src="/images/11Blue And Violet Modern New Product Facebook Post.png" alt="">
                
            </div>
            <div class="contact-content">
                <li><a href="">Home</a></li>
                <li><a href="">categories</a></li>
                <li><a href="">courses</a></li>
                <li><a href="">About us</a></li>
                <li><a href="">Contact</a></li>

            </div>
            <div class="contact-content">
                <li><a href="">Facebook</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">Twitter</a></li>
            </div>
            <div class="contact-content">
                <li><a href="">Jammu&Kashmir,<br>srinagar,190006</a></li>
                <li><a href="">Robonox@gmail.com</a></li>
                <li><a href="">7051350645</a></li>
            
            </div>

        </div>
    </section>
    <div class="last-text">
        <p>@ 2024 Robonox.All Right Reserved</p>
    </div>
    <script type="text/javascript" src="/javascripts/edu.js"></script>

    
    
</body>
</html>