<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="HTML5 website template">
    <meta name="keywords" content="global, template, html, sass, jquery">
    <meta name="author" content="Bucky Maler">
        <!-- tailwindcss link -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

        <!-- fonts link -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
        <!-- css links -->
    <link rel='stylesheet' href='/stylesheets/navbar.css' />
    <link rel='stylesheet' href='/stylesheets/main_img.css' />
    <link rel='stylesheet' href='/stylesheets/robo.css' />
    <link rel='stylesheet' href='/stylesheets/service.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/typing_effect.css' />
    <link rel='stylesheet' href='/stylesheets/typing_effect.css' />
    <link rel='stylesheet' href='/stylesheets/slide-container.css' />
  </head>
  <body>
    <!-- css in navbar.css  -->
    <header class="header">
      <nav class="nav container">
         <div class="nav__data">
            <a href="#" class="nav__logo">
               <i class="ri-planet-line"></i> Robonox
            </a>
            
            <div class="nav__toggle" id="nav-toggle">
               <i class="ri-menu-line nav__burger"></i>
               <i class="ri-close-line nav__close"></i>
            </div>
         </div>

         <!--=============== NAV MENU ===============-->
         <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
               <li><a href="#" class="nav__link">Home</a></li>

               <li><a href="#" class="nav__link">Company</a></li>

               <!--=============== DROPDOWN 1 ===============-->
               <li class="dropdown__item">
                  <div class="nav__link">
                     Analytics <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                  </div>

                  <ul class="dropdown__menu">
                     <li>
                        <a href="#" class="dropdown__link">
                           <i class="ri-pie-chart-line"></i> Overview
                        </a>                          
                     </li>

                     <li>
                        <a href="#" class="dropdown__link">
                           <i class="ri-arrow-up-down-line"></i> Transactions
                        </a>
                     </li>

                     <!--=============== DROPDOWN SUBMENU ===============-->
                     <li class="dropdown__subitem">
                        <div class="dropdown__link">
                           <i class="ri-bar-chart-line"></i> Reports <i class="ri-add-line dropdown__add"></i>
                        </div>

                        <ul class="dropdown__submenu">
                           <li>
                              <a href="#" class="dropdown__sublink">
                                 <i class="ri-file-list-line"></i> Documents
                              </a>
                           </li>
   
                           <li>
                              <a href="#" class="dropdown__sublink">
                                 <i class="ri-cash-line"></i> Payments
                              </a>
                           </li>
   
                           <li>
                              <a href="#" class="dropdown__sublink">
                                 <i class="ri-refund-2-line"></i> Refunds
                              </a>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </li>
               
               <li><a href="#" class="nav__link">Products</a></li>

               <!--=============== DROPDOWN 2 ===============-->
               <li class="dropdown__item">
                  <div class="nav__link">
                     Users <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                  </div>

                  <ul class="dropdown__menu">
                     <li>
                        <a href="/login" class="dropdown__link">
                           <i class="ri-user-line"></i> Profiles
                        </a>                          
                     </li>

                     <li>
                        <a href="#" class="dropdown__link">
                           <i class="ri-lock-line"></i> Accounts
                        </a>
                     </li>

                     <li>
                        <a href="#" class="dropdown__link">
                           <i class="ri-message-3-line"></i> Messages
                        </a>
                     </li>
                  </ul>
               </li>

               <li><a href="#" class="nav__link">Contact</a></li>
            </ul>
         </div>
      </nav>
    </header>



    <!-- css in main_img.css  -->
   <div class="main_img">
      <img src="/images/pexels-rahul-pandit-1933900.jpg" alt="" class="bg_img">
      <!-- <h1 class="main_title">ROBONOX</h1> -->
       <section>
         <div class="content">
           <h2>ROBONOX</h2>
           <h2>ROBONOX</h2>
         </div>

          <!-- typing effect -->
              <!-- <div class="wrapper">
                <span class="first-text">The Most : </span>
                <ul class="sec-texts">
                    <li><span>Affordable</span></li>
                    <li><span>Valuable</span></li>
                    <li><span>Reliable</span></li>
                    <li><span>Favorable</span></li>
                </ul>
              </div> -->
           <!-- typing effect end -->     
             

           <div class="hub">
               <h1>THE<br>
                  TECH TRAINING HUB</h1>
           </div>

       </section>
   </div>



       <!-- css in service.css -->
  <div class="services">
         <div class="div_title">
            <h1>Learning Programs</h1>
        </div>
       
<!-- cards starts -->
        <div class="cards">
           <div class="childs">
            <div class="card 1">
             <div class="card_image">
                <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> 
               </div>
             <div class="card_title title-white">
               <p>Card Title</p>
             </div>
           </div>
           
             <div class="card 2">
             <div class="card_image">
               <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> 
               </div>
             <div class="card_title title-white">
               <p>Card Title</p>
             </div>
           </div>
           
           <div class="card 3">
             <div class="card_image">
               <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> 
             </div>
             <div class="card_title title-white">
               <p>Card Title</p>
             </div>
           </div>
             
             <div class="card 4">
             <div class="card_image">
               <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> 
               </div>
             <div class="card_title title-white">
               <p>Card Title</p>
             </div>
             </div>
             <div class="card 5">
              <div class="card_image">
                 <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> 
                </div>
              <div class="card_title title-white">
                <p>Card Title</p>
              </div>
            </div>

           
           </div>
     </div>
        <!-- card ends -->
     <div class="feedback">
        <div class="container">
           all the feedbacks
        </div>
     </div>
     <div class="why">
            <div class="container1">
              <h1>Why Choose ROBONOX ?</h1>
            </div>
            <div class="container2">
              <div class="box">
                 <img src="" alt="">
                 <h1>Top 1% Global Educators</h1>
              </div>
              <div class="box">
                 <img src="" alt="">
                 <h1>Futuristic Curriculum</h1>
              </div>
              <div class="box">
                 <img src="" alt="">
                 <h1>Access to the Global Arena</h1>
              </div>
            </div>
     </div>
     <!--  css in service.css -->
     <div class="champs">
        <div id="container1">
           <h1>Watch our champs</h1><br>
           <span>Learning in action</span> <br>
           <button>BOOK YOUR FIRST FREE CLASS</button>
        </div>
        <div id="container2">

        </div>

     </div>






  </div>
      
    <!-- css in slide-container.css  -->
  <div class="Team">  
   <div class="home-container">
      <div class="profile-card">
          <div class="img">
              <img src="/images/aanan.jpg">
          </div>
          <div class="caption">
              <h3>Aanan</h3>
              <p>Full Stack Developer</p>
              <div class="social-links">
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-twitter"></i>
                  <i class="fa-brands fa-instagram"></i>
              </div>
          </div>
      </div>
      <div class="profile-card">
          <div class="img">
              <img src="/images/pinak.jpg">
          </div>
          <div class="caption">
              <h3>Pinak</h3>
              <p>Front End Developer</p>
              <div class="social-links">
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-twitter"></i>
                  <i class="fa-brands fa-instagram"></i>
              </div>
          </div>
      </div>
      <div class="profile-card">
          <div class="img">
              <img src="/images/ankit.jpg">
          </div>
          <div class="caption">
              <h3>Ankit</h3>
              <p>Back End Developer</p>
              <div class="social-links">
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-twitter"></i>
                  <i class="fa-brands fa-instagram"></i>
              </div>
          </div>
      </div>
      <div class="profile-card">
          <div class="img">
              <img src="/images/Tushar.jpg">
          </div>
          <div class="caption">
              <h3>Tushar</h3>
              <p>Back End Developer</p>
              <div class="social-links">
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-twitter"></i>
                  <i class="fa-brands fa-instagram"></i>
              </div>
          </div>
      </div>
      <div class="profile-card">
          <div class="img">
              <img src="/images/ashvick.jpeg">
          </div>
          <div class="caption">
              <h3>Tushar</h3>
              <p>Back End Developer</p>
              <div class="social-links">
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-twitter"></i>
                  <i class="fa-brands fa-instagram"></i>
              </div>
          </div>
      </div>
  </div>
  
  
  



   </div>


  

    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/robo.js"></script>
  </body>
</html>
