body {
    margin: 0;
    background-color: #4E3BC2;

    font-family: Arial, sans-serif;
}
@keyframes slideInFromCenter {
    from {
        transform: translateY(-50vh); 
    }
    to {
        transform: translateY(0); 
    }
}

.navbar {
    background-color: #4E3BC2;
    /* #5038C0 */
    background: linear-gradient(to bottom,#4E3BC2, #5038C0);
    color: #fff;
    /* padding: 15px 0; */
    /* top: 0px; */
    position:fixed;
    animation: slideInFromCenter 1s ease forwards;
    opacity: 0; /* Start with opacity 0 to hide initially */
    visibility: hidden; 

}
.navbar.loaded {
    opacity: 1; /* Show the navbar after animation */
    visibility: visible;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.9rem;
    font-weight: 500;
    padding: 0.2rem;
    border-radius: 5px;
}

.nav-links a:hover{
   text-decoration: none;
   background-color: white;
   color: #4E3BC2;

   
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line1, .line2, .line3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

.logo_class{
   display: flex;
   align-items: center;
   gap: 10px;
}

.logo_class img{
   width: 8%;
}
.logo_class h1{
    font-size: 3rem;
}

@media(orientation:portrait){
    .logo_class img{
        width: 18%;
    }
    .logo_class h1{
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }
    

    .burger {
        display: flex;
    }
}

.profile_logo{
    border: 2px solid white;
    padding: 5px;
    border-radius: 50%;
}